
@{
    ViewBag.Title = "银联测试数据";
} 
<table class="easyui-datagrid" fit="true">
    <thead>
        <tr>
            <th  data-options="field:'1',width:150" >卡号</th>
            <th  data-options="field:'2',width:100" >卡性质</th>
            <th  data-options="field:'3',width:100" >机构名称</th>
            <th  data-options="field:'4',width:100" >手机号码</th>
            <th  data-options="field:'5',width:100" >密码</th>
            <th  data-options="field:'6',width:100" >CVN2</th>
            <th data-options="field:'7',width:100" >有效期</th>
            <th data-options="field:'8',width:150" >证件号</th>
            <th data-options="field:'9',width:100" >姓名</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tab_a">
            <td>6216261000000000018</td>
            <td>借记卡</td>
            <td>平安银行</td>
            <td>13552535506</td>
            <td>123456</td>
            <td></td>
            <td></td>
            <td>341126197709218366</td>
            <td>全渠道</td>
        </tr>
        <tr class="tab_b">
            <td>6221558812340000</td>
            <td>贷记卡</td>
            <td>平安银行</td>
            <td>13552535506</td>
            <td>123456</td>
            <td>123</td>
            <td>1711</td>
            <td>341126197709218366</td>
            <td>互联网</td>
        </tr>
        <tr class="tab_a">
            <td>短信验证码</td>
            <td>111111</td>
        </tr>
    </tbody>
</table>
 